<div class="row" id="dividerrow">
    <div class="col-md-8" id="divider-left"></div>
    <div class="col-md-4" id="divider-right"></div>
</div>

<div class="row" id="socialrow">
    <div class="col-md-8 socialcol" id="col-left"></div>
    <div class="col-md-4 socialcol" id="col-right"></div>
</div>
