<div class="answer-peek">
    <div class="peek-text">Vil du helst...</div>
    <div class="peek-buttons">
        <div class="peek-bluebutton">
            <%= dilemma.blue_dilemma %>
        </div>
        <div class="peek-redbutton">
            <%= dilemma.red_dilemma %>
        </div>
    </div>
</div>
